
<ul>

  <li>
    <p>한 문장이 한 눈에 읽혔으면 좋겠다.</p>
    <ul>
      <li>
        <p>문장이 너무 길면 한 번의 호흡으로 읽는게 굉장히 불편하다.</p>
      </li>
      <li>
        <p>그러니 한 번의 호흡으로 한 문장을 읽을 수 있게</p>
      </li>
      <li>
        <p><strong>읽기 편한 글</strong>을 작성하자.</p>
      </li>
    </ul>
  </li>
  
  <li>
    <p>글이 부담스럽지 않았으면 좋겠다.</p>
    <ul>
      <li>
        <p>글이 담고있는 내용이 너무 많으면 부담스러워서 시작조차 못하게 된다.</p>
      </li>
      <li>
        <p>그러니 하나의 글에 너무 많은 욕심을 담지 않도록</p>
      </li>
      <li>
        <p><strong>적당한 양의 내용</strong>만 담도록 글을 작성하자.</p>
      </li>
    </ul>
  </li>

</ul>